.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Bleu */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3; /* Bleu foncé au survol */
}

.content {
    margin-top: 20px;
    display: none; /* Masque tous les contenus par défaut */
}

.content h2 {
    color: #007bff; /* Couleur bleue pour les titres */
}

.content p {
    color: #333; /* Couleur de texte légèrement plus sombre */
}

/* Styles pour l'en-tête */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: 300px; /* Ajustement de la taille de l'image */
    height: auto;
    border: 5px solid black; /* Cadre autour de l'image */
    border-radius: 10px;
}

.header p {
    font-size: 24px; /* Augmentation de la taille de la police */
    font-weight: bold;
    margin-top: 20px; /* Espacement supplémentaire par rapport à l'image */
    color: #000; /* Couleur noire pour le texte */
}

/* Modifie le style du texte de bienvenue */
.welcome-text {
    font-size: 20px; /* Taille de police pour le texte de bienvenue */
    margin-top: 20px; /* Espacement par rapport au texte précédent */
    text-align: center; /* Centrage du texte */
    text-transform: none; /* Annuler la transformation en majuscules */
    color: #000; /* Couleur noire pour le texte */
}

/* Modifie le style du texte "GLOIRE A BOBCITY" */
.glory-text {
    font-weight: bold; /* Texte en gras */
    text-transform: uppercase; /* Mettre le texte en majuscules */
}

/* Styles pour le bouton de retour */
.return-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #f00; /* Rouge pour le bouton */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.return-button:hover {
    background-color: #c00; /* Rouge foncé au survol */
}

/* Styles spécifiques pour la section "Bobyoufu Le Grand Leader" */
#bobyoufu h2 {
    background-color: #8B0000; /* Rouge foncé */
    color: #FFD700; /* Jaune */
    padding: 10px;
    border-radius: 5px;
}

#bobyoufu h3 {
    color: #8B0000; /* Rouge foncé */
    border-bottom: 2px solid #8B0000; /* Bordure basse rouge foncé */
    padding-bottom: 5px;
    margin-top: 20px; /* Espacement entre les titres */
}

#bobyoufu p {
    color: #333; /* Couleur de texte légèrement plus sombre */
    line-height: 1.5; /* Hauteur de ligne pour une meilleure lisibilité */
    margin-top: 10px; /* Espacement entre les paragraphes */
}

